<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h4><span class="title"><%= note.title %></span><%= link_to 'x', note_path(note), method: :delete, remote: true %></h4>
    <p class="description"><%= note.description %></p>
  </div>
</div>